body {
    background: white;
    color: #222;
    padding: 0;
    margin: 0;
    font-family: Lusitana;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    position: relative;
    cursor: default;
    font-size: 16px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.post .headline {
    padding-top: 12px;
    padding-bottom: 12px;
    color: #000;
    font-family: "HelveticaNeueW01-75Bold","HelveticaNeue Bold","Helvetica LT Std Bold",Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
}

.post .headline h1 {
    font-family: "HelveticaNeueW01-75Bold","HelveticaNeue Bold","Helvetica LT Std Bold",Helvetica;
    font-style: normal;
    font-weight: normal;
    color: #000;
    font-size: 44px !important;
    line-height: 42px !important;
}

.post .metaline {
    padding-bottom: 8px;
    float: left;
    font-family: "HelveticaNeueW01-75Bold","HelveticaNeue Bold","Helvetica LT Std Bold",Helvetica;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0px;
    color: #000;
    word-wrap: break-word;
}

.post p {
    font-family: Lusitana,serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000;
    clear: both;
}

.post a {
    color: #3379be;
    border-bottom: 0;
}

.post em {
    font-family: LusitanaItalic,serif;
    font-style: normal;
}

.brand a {
    color: #777 !important;
    text-transform: uppercase;
}


div#social-links ul li img {
    width: 20px;
    height: 20px
}

/* Nice fonts taken from www.gatesnotes.com/ ;) */
@font-face {
    font-family: 'tgn';
    src: url('../fonts/tgn/tgn.eot?68038327');
    src: url('../fonts/tgn/tgn.eot?68038327#iefix') format('embedded-opentype'),
    url('../fonts/tgn/tgn.woff?68038327') format('woff'),
    url('../fonts/tgn/tgn.ttf?68038327') format('truetype'),
    url('../fonts/tgn/tgn.svg?68038327#tgn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lusitana";
    src: url("/media/fonts/Lusitana/Lusitana-Regular-OTF.ttf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LusitanaBold";
    src: url("/media/fonts/Lusitana/Lusitana-Bold-OTF.ttf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LusitanaItalic";
    src: url("/media/fonts/Lusitana/Lusitana-Italic-OTF.ttf") format("opentype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "LusitanaItalicBold";
    src: url("/media/fonts/Lusitana/Lusitana-BoldItalic-OTF.ttf") format("opentype");
    font-style: normal;
    font-weight: normal;
}


/* code highlighting */
code, pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
    color: #d14;
}
code:before, code:after {
    content: "=";
    color: #ccc;
}

pre {
    display: block;
    margin: 0 0 14px;
    padding: 15px;
    border-radius: 3px 3px 3px 3px;
    font-size: 18px;
    line-height: 28px;
    background-color: #f5f5f5;
    white-space: pre;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

#searchform #s {
    background: url("/media/img/search.png") no-repeat 5px 6px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    width: 90px;
    height: 30px;
    line-height: 12px;
    padding: 4px 10px 4px 28px;

    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width, background;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width, background;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width, background;
    -o-transition-timing-function: ease;
}

#searchform #s:focus {
    background-color: #f9f9f9;
    width: 160px;
}